.application {

    ul {
        list-style: none;
        padding: 0;
    }

    fieldset {
        margin: 30px 0;
        padding: 30px 0;
        border-bottom: 1px solid #eee;
    }

    .title {
        text-align: center;
        margin-left: auto;
        align-self: center;
    }

    &-logo-wrapper {
        img {
            max-width: 100%;
            width: 320px;
        }
    }

    .form {
        padding: 30px 0;
        margin-top: 50px;

        input {
            border-radius: .25rem;

            &:focus {
                // border-color: #86b7fe;
                // outline: 0;
                // box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
                // border: 1px;
            }
        }
    }

    .applicant-information,
    .residences,
    .driver {

        &__list {
            list-style: none;
            padding: 0;
        }

        &__item {
            display: flex;
            flex-direction: column;

            label,
            input {
                margin: 2px 0;
            }
        }
    }

    .driver {
        margin-bottom: 0px;

        &-warning {
            background-color: #FFF8C4;
            border-radius: 20px;
            padding: 20px;
            padding-left: 50px;
            position: relative;
            margin: 10px 0;

            &::before {
                content: "";
                width: 20px;
                height: 20px;
                position: absolute;
                left: 20px;
                top: 50%;
                margin-top: -10px;
                background-image: url(./../icons/alert_warning.png);
                background-repeat: no-repeat;
            }
        }

        &__item__checkbox {
            margin-top: 20px;

        }

        &__endorsements__list {
            padding: 30px 0 0;
        }

        &__endorsements__item {
            display: flex;

            input,
            label {
                margin: 0 3px;
                align-self: center;
            }
        }

    }

}

.warning {
    color: #E50000;
    font-size: 16px;
}

.underline {
    text-decoration: underline;
}

.employer-question {
    font-size: 16px;
    font-weight: 400;
}

.employer-sub-question {
    font-size: 15px;
    font-weight: 600;
    font-style: italic;
    margin-top: 5px;
    display: block;
}

.acceptance {
    &__button {
        // min-width: 100%;
        min-width: 200px;
        border: 1px solid #ced4da;
        min-height: 38px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 10px;
            width: 16px;
            height: 16px;
            margin-top: -8px;
            background-image: url(./../icons/esign_16.jpg);
            background-repeat: no-repeat;
        }
    }
}

.sign-document {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    width: 800px;
    margin-left: -400px;
    // border: 1px solid red;
    background-color: #fff;
    padding: 30px;
    z-index: 12;
    &__list {
        list-style: none;
        padding: 0;
    }
    &-important{
        font-weight: 700;
        margin-bottom: 0;
    }
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,.6);
}


input[type="radio"].form-check-input.error{
  padding: 0;
  align-self: center;
}