.contact {
    min-height: 500px;
    padding: 80px 0;


    &__title {
        text-align: center;
    }

    .form {
        margin: 30px 0;

        &__list {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
            flex-wrap: wrap;
        }

        &__input {
            min-width: 260px;
            min-height: 50px;
            border-radius: 10px;
            border: 1px solid #bbb;
            box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
            padding: 0 20px;
        }

    }

    .address {
        padding: 100px 0;
    }

    .address__list {
        list-style: none;
        padding: 0;
    }

    .address__item {
        margin-bottom: 20px;
        font-size: 20px;
        color: #616368;
        padding-left: 30px;
        position: relative;

        &::before {
            content: "";
            width: 20px;
            height: 20px;
            position: absolute;
            top: 50%;
            margin-top: -10px;
            left: 0px;
            background-image: url('./../icons/time.svg');
            background-size: cover;
        }

        & a {
            text-decoration: none;
            color: #616368;

            // font-family: 'Open Sans' , sans-serif;
            &:hover {
                transform: translateY(-5px);
            }
        }
    }

    .contact__map iframe {
        width: 100%;
    }

}

.button__submit {
    background-color: #2E9557;

    &:hover {
        border: 3px solid #2E9557;
    }
}