.footer {
    padding: 10px 0;
    background-color: #eeeeee;
    .navbar{
        position: relative;
    }

    .nav-link {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 500;
        color: #616368;
        font-size: 12px;
    }
}