.form-initial {
    padding: 80px 0;
    &__title {
        text-align: center;
        margin-left: auto;
        align-self: center;
    }

    &-logo-wrapper {
        img {
            max-width: 100%;
            width: 320px;
        }
    }

    &__list {
        list-style: none;
        margin-top: 30px;
    }

    &__item {
        text-align: center;
    }

    &__button {
        border: none;
        min-height: 50px;
        min-width: 260px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 600;
        background-color: #2E9557;
        border-radius: 30px;
        transition: all 0.5s;
        color: #fff;
        border: 3px solid #2E9557;

        &:hover {
            background-color: #fff;
            color: #000;
            border: 3px solid #2E9557;
        }
    }
}