.navbar {
    position: absolute;
    width: 100%;
    top: 0;
    left: 50%;
    margin-left: calc(-1 * 100% / 2);

    background-color: transparent !important;
    z-index: 99;
    overflow: hidden;
}

.navbar-nav {
    margin-left: auto;
}

.nav-link {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: #616368;
}

@media(max-width:991px) {
    header {

        .navbar {
            background-color: rgba(46, 149, 87, 1) !important;
        }
    }
}