.promo {
    padding: 80px 0;


    background: linear-gradient(to top, rgba(46, 149, 87, 0.8), rgba(46, 149, 87, 0.8)), url('./../img/promo__back.jpg');
    // background-image: url('./../img/promo__back.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 1920px;
    height: 1080px;
    max-width: 100% !important;
    max-height: 100vh;
    mix-blend-mode: multiply;

    position: relative;

    &__title {
        font-size: 48px;
        color: #ffffff;
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        display: block;
        width: 100%;
        margin-left: calc(-1 * 100% / 2);
        margin-top: -90px;
        font-weight: 700;


    }

    &__subtitle {
        color: #ffffff;
        font-size: 18px;
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        display: block;
        width: 100%;
        margin-left: calc(-1 * 100% / 2);
        margin-top: -20px;
    }

    &__button {
        position: absolute;
        left: 50%;
        margin-left: -90px;
        bottom: 40px;
    }

}